@model IEnumerable<WebLeanMaint.QueryModel.MaintenanceSuppliersquery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i> Maintenance Suppliers</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="section-subtitle"><b>Maintenance Suppliers List</b></h4>
            <a href="@Url.Action("Create", "MaintenanceSuppliers")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-plus"></i>  Creat New</a>
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                            <thead class="bordered-darkorange">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ID_SupplierType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ID_ObjStatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Address1)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ID_CostCenter)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Address2)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HourlyCost)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ID_City)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Zip)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ID_Country)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ValidFrom)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ID_User)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody class="abc">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.suptype)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.subname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.costname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HourlyCost)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.city)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Zip)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.country)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ValidFrom)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.username)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { ID= item.ID_Supplier } )" class="btn btn-warning shiny input-xs"><i class="fa fa-pencil"></i></a>
                                            <a href="@Url.Action("Delete", new { ID= item.ID_Supplier } )" new { onclick="return confirm('Are you sure you want to delete this record?');" class="btn btn-danger shiny input-xs"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><input type="text" style="width: 70px" placeholder="Search Here" name="search_browser" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:120px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:120px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>