@model WebLeanMaint.ViewModel.GeneralVM
@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
	<div class="content-header">
		<div class="leftside-content-header">
			<ul class="breadcrumbs">
				<li><a><i class="fa fa-cubes" aria-hidden="true"></i>  Maintenance Assets</a></li>
			</ul>
		</div>
	</div>
	<div class="row ">
		<div class="col-sm-12 col-md-12">
			<h4 class="section-subtitle"><b>Register Maintenance Assets</b></h4>
			<a href="@Url.Action("Index","MaintenanceAssets")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-list"></i> Go to List</a>
			<div class="panel">
				<div class="panel-content">
					<div class="row">
						<div class="col-md-12">
							@using (Html.BeginForm("Save", "MaintenanceAssets", FormMethod.Post, new { enctype = "multipart/form-data" }))
							{
								@Html.HiddenFor(m => m.Asset.ID_Asset)
								<div class="row">
									<div class="form-group col-sm-3">
										<label>Name</label>
										@Html.TextBoxFor(m => m.Asset.Name, new { @class = "form-control input-xs" })
									</div>
									<div class="form-group col-sm-3">
										<label>Description</label>
										@Html.TextBoxFor(m => m.Asset.Description, new { @class = "form-control input-xs" })
									</div>
									<div class="form-group col-sm-3">
										<label>Select AssetType</label>
										@Html.DropDownListFor(m => m.Asset.ID_AssetType, new SelectList(Model.AssetTypes, "ID_AssetType", "Name"), "Select AssetType", htmlAttributes: new { @class = "chosen-select form-control" })
									</div>
									<div class="form-group col-sm-3">
										<label>Barcode</label>
										@Html.TextBoxFor(m => m.Asset.Barcode, new { @class = "form-control input-xs" })
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-3">
										<label>Select OrganizationCenter</label>
										@Html.DropDownListFor(m => m.Asset.ID_OrganizationCenter, new SelectList(Model.OrganizationCenters, "ID_OrganizationCenter", "Name"), "Select OrganizationCenter", htmlAttributes: new { @class = "chosen-select form-control" })
									</div>
									<div class="form-group col-sm-3">
										<label>Select CostCenter</label>
										@Html.DropDownListFor(m => m.Asset.ID_CostCenter, new SelectList(Model.CostCenters, "ID_CostCenter", "Name"), "Select CostCenter", htmlAttributes: new { @class = "chosen-select form-control" })
									</div>
									<div class="form-group col-sm-3">
										<label>Select GeographicCenter</label>
										@Html.DropDownListFor(m => m.Asset.ID_GeographicCenter, new SelectList(Model.GeographicCenters, "ID_GeographicCenter", "Name"), "Select GeographicCenter", htmlAttributes: new { @class = "chosen-select form-control" })
									</div>
									<div class="form-group col-sm-3">
										<label>Select Parent</label>
										@Html.DropDownListFor(m => m.Asset.ID_Parent, new SelectList(Model.Assets, "ID_Asset", "Name"), "Select Parent", htmlAttributes: new { @class = "chosen-select form-control" })
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm-3">
										<label>Select ObjStatus</label>
										@Html.DropDownListFor(m => m.Asset.ID_ObjStatus, new SelectList(Model.ObjStatuses, "ID_ObjStatus", "Name"), "Select ObjStatus", htmlAttributes: new { @class = "chosen-select form-control" })
									</div>
								</div>
								<div class="row">
									<br />
									<div class="col-sm-12">
										<button type="submit" class="btn btn-primary" style="margin-top:10px"><i class="fa fa-plus"></i> Save Record</button>
									</div>
								</div>
							}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-12">
		<div class="panel">
			<div class="panel-content">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6">
							<h4 class="section-subtitle"><b>Asset Material List</b></h4>

							<div class="panel">
								<div class="panel-content">

									<div class="table-responsive">
										<table class="table table-bordered table-hover table-striped table-success" id="searchable">
											<thead class="bordered-darkorange">
												<tr>
													<th>@Html.DisplayNameFor(model => model.AssetMaterial.Name)</th>
													<th>@Html.DisplayNameFor(model => model.AssetMaterial.Description)</th>
													<th>Actions</th>
												</tr>
											</thead>

											<tbody class="abc">
												@foreach (var item in Model.AssetMaterials)
												{
													<tr>
														<td>
															@Html.DisplayFor(modelItem => item.Name)
														</td>
														<td>
															@Html.DisplayFor(modelItem => item.Description)
														</td>
														<td>
															<a href="@Url.Action("DeleteMaterial", new { nID_Asset = item.ID_Asset, nID_Material = item.ID_Material } )" new { class="btn btn-danger shiny input-xs"><i class="fa fa-trash-o"></i></a>
														</td>
													</tr>

												}
											</tbody>
											<tfoot>
												<tr>
													<th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
													<th><input type="text" style="width:70px" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
													<th></th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							@using (Html.BeginForm("AddMaterial", "MaintenanceAssets", FormMethod.Post, new { enctype = "multipart/form-data" }))
							{
								@Html.HiddenFor(m => m.Asset.ID_Asset)
								<div class="row">
									<div class="form-group col-sm-3">
										<label>Select OrganizationCenter</label>
										@Html.DropDownListFor(m => m.AssetMaterial.ID_Material, new SelectList(Model.Materials, "ID_Material", "Name"), "Select Material", htmlAttributes: new { @class = "chosen-select form-control" })
									</div>
								</div>
								<div class="row">
									<br />
									<div class="col-sm-12">
										<button type="submit" class="btn btn-primary" style="margin-top:10px"><i class="fa fa-plus"></i> Add</button>
									</div>
								</div>
							}
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>